<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <!-- SWIPER CSS -->
    <link rel="stylesheet" href="assets/css/">

    <!-- ccs -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/colors/color-1.css">

    <title>e-commerce website</title>
</head>
<body>
    <!-- heard -->
    <header class="header" id="header">
        
    </header>

    <!-- cart -->
    <div class="cart" id="cart">
        
    </div>

    <!-- login -->
    <div class="login" id="login">
        
    </div>

    <!-- main -->
    <main class="main">
        <!-- registration -->
        <section class="registration section container">
            
        </section>
    </main>

    <!-- footer -->
    <footer class="footer section">
        
    </footer>

    
    
    
    <script src="assets/js/"></script>

    
    <script src="assets/js/main.js"></script>
</body>
</html>